

.wrapper{
    border: 1px solid rgba(214, 187, 100, 0.291);
    border-radius: 15px;
    width: 270px;
    margin: 40px auto;
}


/* .input-product{
    margin: 20px auto;
 font-size: 18px;
    padding: 5px 10px;
    width: 400px;
} */
 form{
    margin:  0 auto;
    padding: 22px;
}
.countries {
  
    width: 1150px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
}
.info{
    display: flex;
    justify-content: space-between;
}
.firma-price{
    margin-top: 15px;

}
.firma,.price{
    padding: 10px;
    font-size: 19px;
    font-weight: 600;
}
.details{
    margin-top: 40px;
    margin-right: 20px;
   
}
.details button {
    font-size: 18px;
    color: blue;
    border-radius: 3px;
    border: 1px solid blue;
    padding: 5px 10px
}
.text{
    font-weight:500;
    font-size: 17px;
    padding: 5px;
}
.basket {
    margin: 10px;
    background-color: rgba(0, 0, 255, 0.558) ;
    padding: 7px 15px;
    font-size: 16px;
    color:white;
    border: 1px solid rgba(0, 0, 255, 0.558);
    border-radius: 3px;
}
hr{
    box-shadow: 0 0 30px rgb(79, 74, 74) ;
}

.info-sneakers{
 
    width: 100px;
    border: 1px solid #000;
    display: flex;
    text-align: right;
    box-shadow: 0 0 3px black;
    font-size: 16px;
}
.xxx{
    width: 20px;
    height: 22px;
    color: red;
    border: none;
    background-color:transparent;
}

.addText{
    color: red;
    cursor: pointer;
    margin-top: 2px;
    padding: 0 0 10px 10px
}
.addText:hover{
    text-decoration: underline;
}
.input{
    width: 400px;
    padding: 5px 15px;
    font-size: 18px;
}

.block_form{
    margin: 0 auto;
    width: 400px;
}